
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-body">

<h1 class="dipslay-4">Spent register</h1>
<form  [formGroup]="spentForm" autocomplete="off" (submit)="onSubmit(spentForm)">

        <div class="form-group" >
            <input class="form-control" for="purchasedOn" name="purchasedOn" [(ngModel)]="service.formDataSpent.purchasedOn" type="date" formControlName="purchasedOn" placeholder="purchasedOn">
        </div>

    <div class="form-group ">
        <input   class="form-control" [(ngModel)]="service.formDataSpent.nature" formControlName="nature" placeholder="Nature" name="nature" required>
    </div>
    <div class="form-group ">
        <input class="form-control" [(ngModel)]="service.formDataSpent.comment" formControlName="comment" placeholder="Comment" name="comment" required>
    </div>


        <div  [formGroup]="spentFormOrigin" class="ten" >
            <div class="form-group " >
                <input  type="number"  class="form-control" [(ngModel)]="service.formDataOrigin.amount" formControlName="amount" placeholder="Amount origin" name="amount" min="0" required>
            </div>
            <div class="form-group " >
                <select value="EUR" size="1" class="form-control" [(ngModel)]="currencyDefault" formControlName="currency"  placeholder="Currency origin" name="currency" required>
                    <OPTION  value="EUR" selected>EUR</OPTION>
                    <OPTION>GBP</OPTION>
                    <OPTION>CHF</OPTION>
                    <OPTION>USD</OPTION>
                    </select>
            </div>
        </div>

        <div  [formGroup]="spentFormConvert" class="ten">
            <div class="form-group " form-group>
                <input type="number" value="EUR" class="form-control" [(ngModel)]="service.formDataConvert.amount" formControlName="amount" placeholder="Amount convert" name="amount" min="0" required>
            </div>
            <div class="form-group ">
                <input   class="form-control" [(ngModel)]="currencyConvert" formControlName="currency"  placeholder="Currency convert" name="currency" value={property} disabled>
            </div>
        </div>


    <div class='form-group'>
        <button type="submit" [disabled]="spentForm.invalid" class="btn btn-lg btn-block btn-info">Validate</button>
    </div>
    </form>
    </div>
</div>
</div>
