
<div class="container">
<h1>Click on spent to update it</h1>
<table class="table table-hover">
    <thead>
        <th>PurshaseOn</th>
        <th>Nature</th>
        <th>Comment</th>
        <th>Original amount</th>
        <th>Original currency</th>
        <th>Convert amount</th>
        <th>Convert currency</th>
    </thead>
        <tr *ngFor="let s of list | paginate: { itemsPerPage: 10, currentPage: p }">
            <td (click)="onEdit(s)">{{s.purchasedOn | date:'MM/dd/yyyy'}}</td>
            <td (click)="onEdit(s)">{{s.nature}}</td>
            <td (click)="onEdit(s)">{{s.comment}}</td>
            <td (click)="onEdit(s)">{{s.originalAmount.amount}}</td>
            <td (click)="onEdit(s)">{{s.originalAmount.currency}}</td>
            <td (click)="onEdit(s)">{{s.convertedAmount.amount}}</td>
            <td (click)="onEdit(s)">{{s.convertedAmount.currency}}</td>

            <td><a class="btn text-danger" (click)="onDelete(s.id)"><i class="fa fa-trash"></i></a></td>
        </tr>
</table>
<!--<pagination-controls (pageChange)="p = $event"></pagination-controls>!-->

</div>


{{errorMessage}}


